<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lab5.Properties.Settings.KINOPROKATPRACTICA5ConnectionString"
            connectionString="Data Source=LAPTOP-GMUHIH8D\SQLEXPRESS;Initial Catalog=KINOPROKATPRACTICA5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>